/* Custom CSS */



.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-weight: <weight>;
  font-style: normal;
}

.rozha-one-regular {
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #52734a;
    font-family: "Montserrat", sans-serif;
    
}

h1, h2 {
    font-family: rozha one;
    color: white;
    text-align: center;
}
p {
    font-family: montserrat;
    color: white;
}
label {
    padding-top: 15px;
}

header {
    background: linear-gradient(to top, transparent 0%, black 140%);
    width: 100%;
    position: absolute;
    z-index: 100;
}

.logo {
    display: block;
    max-width: 70px;
    padding: 0;
    margin: 0;
}

.navbar {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    position: relative;
}

.collapse {
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    z-index: 101;
}

.nav-item .nav-link {
    color: ghostwhite;
}

.nav-item .nav-link:hover {
    color: #aa8b4a;
    transition: 0.3s ease-out;
}

#centerNavbar .navbar-nav {
    font-size: 0.8rem;
}

#rightNavbar {
    z-index: 102;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    border-color: ghostwhite;
    padding-left: 5px;
    padding-right: 5px;
}

.icon {
    min-width: 5%;
    width: 25px;
    max-width: 50px;
}

    /* dropdown */
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu{
    text-decoration: none;
    font-family: "Rozha One", serif;
    padding: 20px;
    background-color: #3d6f33;
    width: 250px;
}

.dropdown-menu > li {
    color: ghostwhite;
    position: relative;
    transition: right ease 0.3s;
    right: 0;
    pointer-events: none;
  }

.dropdown-menu > li > a {
    color: ghostwhite;
    pointer-events: auto;
  }

.dropdown-menu > li > p {
    color: lightgray;
    font-family: "Montserrat", sans-serif;
    font-size: 0.6rem;
    padding-left: 10px;
  }

.dropdown-menu > li:hover {
    right: -5px;
  }

.dropdown-menu > li > a:hover {
    text-decoration: none;
    color: lightgray;
  }

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

#dropdown-toggler {
    z-index: 102;
}

/*dropdown navbar*/

#dropdownNavbar {
    z-index: 101;
    background-color: #A98A48;
    padding: 0.5rem 1rem;
}

#dropdownNavbar ul {
    list-style: none;
}

#dropdownNavbar > .row {
    width: 100%;
    margin: 0;
    padding: 20px;
}

#dropdownNavbar ul > li > a {
    color: ghostwhite;
    position: relative;
    transition: right ease 0.3s;
    right: 0;
}

#dropdownNavbar ul > li > a:hover {
    text-decoration: none;
    color: lightgray;
    right: -5px;
}

#dropdownNavbar ul li ul li {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
}

.logo2 {
    display: block;
    width: 150px;
    padding: 0;
    margin: 0;
}

.row {
    padding: 15px;
    height: 100%;
    width: 100%;
    
}

.container-fluid_3 {
    

  box-sizing: border-box;
    background-color: #59573D;
    padding: min(5%, 45px);
    margin-top: 0px;
    width: 90%;
    border-radius: 15vw 15vw 0px 0px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    border-top: 45px solid #A98A48;
    border-left: 45px solid #A98A48;
    border-right: 45px solid #A98A48;
  
}

.form-control {
    border-radius: 37px;
    border: 1px solid black;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.input agree {
    box-shadow: 0;
}

h3 {
font-family: "montserrat", sans-serif;
    color: #ffffff;
}

a.doclink {
    text-decoration: underline;
    color: #ab8c4a;
    font-weight: 600;
}


.form-inline {
    display: flex;
    width: auto;
     box-shadow: 2px 4px 6px rgba (0, 0, 0, 0.2); 
    padding: 10px;
}

.form-check {
    font-family: "montserrat", sans-serif;
    padding: 10px;
}

.form-inline {
     box-shadow: 2px 4px 6px rgba (0, 0, 0, 0.2);
}

.btn {
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ffffff;
}

.submitreg {
    padding: 30px;
}

ol {
    font-family: "Montserrat", sans-serif;
    color: white; 
}

.colcenter {
    text-align: center;
}

button {
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

button a {
    font-family: Montserrat;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.hero-image {
    width: 100%;
}

.container-fluid_2 {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #50353A;
    color: white;
    padding: 45px 0 20px;
    !important;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-heading a:hover {
    color: #aa8b4a;
    transition: 0.3s ease-out;
    text-decoration: none;
}

.newsletter > div > * {
    margin-bottom: 12px;
}

#newsletter-input {
    width: 400px;
    max-width: 100%;
}

hr {
    padding: 0;
    margin: 0;
}

.footer-heading > * {
    margin-bottom: 12px;
}

.logo-footer {
    display: block;
    width: 100px;
    height: 20%;
    padding: 0;
    margin: 0;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons a svg {
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    margin-right: 8px;
}

.social-icons a svg:hover {
    fill: #aa8b4a;
    transition: 0.3s ease-out;
}

